# select which storage you want: either storage_redis or storage_sqlite
import storage_sqlite as storage
# import storage_redis as storage

# path to your sqlite database file
sqlite_db_file = 'digaas.db'
